<!DOCTYPE html>
<html>
    <head>
        <title>Shipment Create</title>>
        </head>
<body>
<h2>Create Shipment</h2>
<form method="post" action="/shipments">
  <input type="text" placeholder="Shipment Name" id="shipment_name" name="shipment_name"><br>
  <input type="text" placeholder="Container number" id="container_no" name="container_no"><br>
  <input type="text" placeholder="Route Type" id="route_type" name="route_type"><br>
  <input type="text" placeholder="Delivery Type" id="delivery_type" name="delivery_type"><br>
  <input type="submit" value="Create shipment">
</form>

</body>
</html